<!-- <div class="container" *ngIf="persona">
  <div class="row">
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img width="300px" src="{{persona[0].urlFoto}}" />
          <span class="card-title">{{persona[0].nombre}} {{persona[0].apellido}}</span>
        </div>
        <div class="card-content">
          <p>Nombre: {{persona[0].nombre}}</p>
          <p>Apellido: {{persona[0].apellido}}</p>
          <p>Domicilio: {{persona[0].domicilio}}</p>
          <p>Fecha de Nacimiento: {{persona[0].fechaNac}}</p>
          <p>Telefono: {{persona[0].telefono}}</p>
          <p>Correo: {{persona[0].correo}}</p>
          <p>Sobre mi: {{persona[0].sobreMi}}</p>
          <p>Descripcion: {{persona[0].descripcion}}</p>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="container-fluid d-flex justify-content-center" style="padding-top:200px;">
  <div class="card mb-12 border border-0" style="max-width: 800px; " *ngIf="persona">
    <div class="row g-0">
      <div class="col-md-4 col-sm-12">
        <img src="{{persona[0].urlFoto}}" class="img-fluid rounded-circle align-center"
          style="background-color: #6727dd;" alt="foto perfil">
      </div>
      <div class="col-md-8">
        <div class="card-body text-center">
          <h3 class="card-title">{{persona[0].nombre}} {{persona[0].apellido}}</h3>
          <h5 class="card-title">{{persona[0].descripcion}}</h5>
          <p class="card-text">Domicilio: {{persona[0].domicilio}}
            Fecha de Nacimiento: {{persona[0].fechaNac}}
            Telefono: {{persona[0].telefono}}
            Correo: {{persona[0].correo}}
            Sobre mi: {{persona[0].sobreMi}}</p>
        </div>
      </div>
    </div>
  </div>
</div> -->

<section class="container-fluid section" *ngIf="persona">
  <div>
    <div class="row">
      <div class="col-xs-12 col-lg-5 section__picture">
        <div class="img__container">
          <img 
            src="{{persona[0].urlFoto}}" 
            alt="foto perfil" 
            class="img-fluid rounded-circle align-center"
          />
        </div>
      </div>
      <div class="col-xs-12 col-lg-7 section__info">
        <div class="info__container">

          <h1 class="info__name">{{persona[0].nombre}} {{persona[0].apellido}}</h1>
          <h3 class="info__desc">{{persona[0].sobreMi}}</h3>
      
          <div class="info__iconsContainer">
            <ul class="info__icons">
              <li placement="bottom" ngbTooltip={{persona[0].domicilio}}>
                <span class="icon"><i class="uil uil-map-marker"></i></span>
              </li>
              <li placement="bottom" ngbTooltip={{persona[0].fechaNac}}>
                <span class="icon"><i class="uil uil-calender"></i></span>
              </li>
              <li placement="bottom" ngbTooltip={{persona[0].telefono}}>
                <span class="icon"><i class="uil uil-mobile-android"></i></span>
              </li>
              <li placement="bottom" ngbTooltip={{persona[0].correo}}>
                <span class="icon"><i class="uil uil-envelope"></i></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>