<section class="container-fluid section" *ngIf="persona">
  <div>
    <div class="row">
      <div class="col-xs-12 col-lg-5 section__picture">
        <div class="img__container">
          <img src="{{persona[0].urlFoto}}" alt="foto perfil" class="img-fluid rounded-circle align-center" />
        </div>
      </div>
      <div class="col-xs-12 col-lg-7 section__info">
        <div class="info__container">

          <div class="info__nameContainer">
            <h1 class="info__name">{{persona[0].nombre}} {{persona[0].apellido}}</h1>

            <div class="btn__wrapper" *ngIf="isLogged" routerLink="/editar-persona/{{persona[0].idPersona}}"
              id="modalito" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              <button class="btn__add">
                <i class="uil uil-pen"></i>
              </button>
            </div>
          </div>
          <h4 class="info__desc">{{persona[0].descripcion}}</h4>
          <h6 class="info__desc dos">{{persona[0].sobreMi}}</h6>
          <div class="info__iconsContainer">
            <ul class="info__icons">
              <li placement="bottom" ngbTooltip={{persona[0].domicilio}}>
                <span class="icon"><i class="uil uil-map-marker"></i></span>
              </li>
              <li placement="bottom" ngbTooltip={{persona[0].fechaNac}}>
                <span class="icon"><i class="uil uil-calender"></i></span>
              </li>
              <li placement="bottom" ngbTooltip={{persona[0].telefono}}>
                <span class="icon"><i class="uil uil-mobile-android"></i></span>
              </li>
              <li placement="bottom" ngbTooltip={{persona[0].correo}}>
                <span class="icon"><i class="uil uil-envelope"></i></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>