<!-- <div class="container" *ngIf="persona">
  <div class="row">
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img width="300px" src="{{persona[0].urlFoto}}" />
          <span class="card-title">{{persona[0].nombre}} {{persona[0].apellido}}</span>
        </div>
        <div class="card-content">
          <p>Nombre: {{persona[0].nombre}}</p>
          <p>Apellido: {{persona[0].apellido}}</p>
          <p>Domicilio: {{persona[0].domicilio}}</p>
          <p>Fecha de Nacimiento: {{persona[0].fechaNac}}</p>
          <p>Telefono: {{persona[0].telefono}}</p>
          <p>Correo: {{persona[0].correo}}</p>
          <p>Sobre mi: {{persona[0].sobreMi}}</p>
          <p>Descripcion: {{persona[0].descripcion}}</p>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid" style="padding-top:200px;" *ngIf="persona">
  <div class="col-">
    <div class="row g-1">
      <div>
        <div class="d-flex justify-content-center">
          <img src="{{persona[0].urlFoto}}" class="img-fluid rounded-circle"
            style="background-color: #6727dd;width: 250px;" alt="Foto perfil">
          <div class="text-center">
            <h5>{{persona[0].nombre}} {{persona[0].apellido}}</h5>
            <p>Domicilio: {{persona[0].domicilio}}
              Fecha de Nacimiento: {{persona[0].fechaNac}}
              Telefono: {{persona[0].telefono}}
              Correo: {{persona[0].correo}}
              Sobre mi: {{persona[0].sobreMi}}
              Descripcion: {{persona[0].descripcion}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{persona[0].urlFoto}}" class="img-fluid rounded-start" style="background-color: #6727dd;" alt="foto perfil">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">{{persona[0].nombre}} {{persona[0].apellido}}</h3>
          <h5 class="card-text">{{persona[0].nombre}} {{persona[0].apellido}}</h5>
          <p class="card-text">Domicilio: {{persona[0].domicilio}}
            Fecha de Nacimiento: {{persona[0].fechaNac}}
            Telefono: {{persona[0].telefono}}
            Correo: {{persona[0].correo}}
            Sobre mi: {{persona[0].sobreMi}}
            Descripcion: {{persona[0].descripcion}}</p>
        </div>
      </div>
    </div>
  </div>
</div>