<div *ngIf="proyectos">
    <div class="col s6 m6">
      <ul class="collection with-header">
        <li class="collection-header"><h4>Proyectos</h4><button style="margin-right:10px" class="btn waves-effect waves-light" routerLink="/agregar-proyectos" *ngIf="isLogged" type="submit" name="action">Agregar
            <i class="material-icons right">send</i>
          </button></li>
        <div *ngFor="let proyectos of proyectos">
          <li class="collection-item">Nombre: {{ proyectos.nombre }}</li>
          <li class="collection-item">Descripcion: {{ proyectos.descripcion }}</li>
          <li class="collection-item">
            Url: {{ proyectos.url }}
          </li>
          <li><br></li>
          
          <button class="btn waves-effect waves-light" routerLink="/editar-proyectos/{{proyectos.idProyectos}}" *ngIf="isLogged" type="submit" name="action">Editar
            <i class="material-icons right">send</i>
          </button>
          <button class="btn waves-effect waves-light" (click)="borrarProyectos(proyectos.idProyectos)" *ngIf="isLogged" type="submit" name="action">Borrar
            <i class="material-icons right">send</i>
          </button>
    
        </div>
      </ul>
    </div>
    </div>