<div class="container p-5">
  <div class="card text-center rounded-4">
    <div class="card-header morado fw-semibold fs-4 py-3">
      Login  <i class="uil uil-user"></i>
    </div>
    <div class="card-body">
  <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
    <div class="mb-3">
      <label class="form-label" for="nombreUsuario"><b>Nombre Usuario</b></label>
      <input class="form-control mx-auto form-control border border-0 border-bottom rounded-0 w-50" type="text"
        id="nombreUsuario" placeholder="Ingresa Nombre de Usuario" name="nombreUsuario" [(ngModel)]="nombreUsuario"
        required />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label"><b>Contraseña</b></label>
      <input class="form-control mx-auto form-control border border-0 border-bottom rounded-0 w-50" type="password"
        id="password" placeholder="Ingresa Contraseña" name="password" [(ngModel)]="password" required />
    </div>

    <button type="submit" class="btn morado" data-bs-dismiss="modal">Submit</button>
  </form>
</div>
</div>
</div>