<app-header></app-header>
<app-experiencia></app-experiencia>
<app-footer></app-footer>
  <div *ngIf="experiencia"
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header morado fw-semibold fs-4 py-3 d-inline-flex flex-row justify-content-between">
        <i class="uil uil-plus"></i> Agregar Experiencia
        <button type="button" class="morado border-0" (click)="closePopup()"><i
            class="uil uil-times-square"></i></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)= "onSubmit()">
          <div class="mb-3">
            <label class="form-label">Cargo</label>
            <input type="text" class="form-control form-control border border-0 border-bottom rounded-0 w-50" id="cargo" [(ngModel)] = "experiencia.cargo"
            name = "cargo">
          </div>
          <div class="mb-3">
            <label class="form-label">Institucion</label>
            <input type="text" class="form-control form-control border border-0 border-bottom rounded-0" id="institucion" [(ngModel)] = "experiencia.institucion"
            name = "institucion">
          </div>
          <div class="mb-3">
            <label class="form-label">Año Ingreso</label>
            <input type="text" class="form-control form-control border border-0 border-bottom rounded-0" id="anioingreso" [(ngModel)] = "experiencia.anioingreso"
            name = "anioingreso">
          </div>
          <div class="mb-3">
            <label class="form-label">Año Egreso</label>
            <input type="text" class="form-control form-control border border-0 border-bottom rounded-0" id="anioegreso" [(ngModel)] = "experiencia.anioegreso"
            name = "anioegreso">
          </div>
          <button type="submit" class="btn morado" data-bs-dismiss="modal">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>