<nav>
  <ul>
    <li>
      <a routerLink="persona" routerLinkActive="active"> Ver persona </a>
    </li>
    <li>
      <a routerLink="educacion" routerLinkActive="active"> Ver educacion </a>
    </li>
    <li>
      <a routerLink="experiencia" routerLinkActive="active"> Ver experiencia </a>
    </li>
    <li>
      <a routerLink="proyectos" routerLinkActive="active"> Ver proyectos </a>
    </li>
  </ul>
</nav>
<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
