<nav>
  <ul>
    <li>
      <a routerLink="persona" routerLinkActive="active"> Ver persona </a>
    </li>
    <li>
      <a routerLink="educacion" routerLinkActive="active"> Ver educacion </a>
    </li>
    <li>
      <a routerLink="agregar-educacion" routerLinkActive="active"> Agregar educacion </a>
    </li>
    <li>
      <a routerLink="editar-educacion" routerLinkActive="active"> Editar educacion </a>
    </li>
    <li>
      <a routerLink="experiencia" routerLinkActive="active"> Ver experiencia </a>
    </li>
    <li>
      <a routerLink="agregar-experiencia" routerLinkActive="active"> Agregar experiencia </a>
    </li>
    <li>
      <a routerLink="editar-experiencia" routerLinkActive="active"> Editar experiencia </a>
    </li>
  </ul>
</nav>
<div class="container">
  <div class="row">
   
    <router-outlet></router-outlet>
  </div>
</div>
