<app-header></app-header>
<app-proyectos></app-proyectos>
<app-footer></app-footer>
<div *ngIf="proyectos" class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header morado fw-semibold fs-4 py-3 d-inline-flex flex-row justify-content-between">
                <i class="uil uil-pen"></i> Editar Proyecto
                <button type="button" class="morado border-0" (click)="closePopup()"><i
                        class="uil uil-times-square"></i></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label class="form-label">Nombre</label>
                        <input type="text"
                            class="form-control form-control border border-0 border-bottom rounded-0 w-50" id="nombre"
                            [(ngModel)]="proyectos.nombre" name="nombre">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Descripcion</label>
                        <input type="text" class="form-control form-control border border-0 border-bottom rounded-0"
                            id="descripcion" [(ngModel)]="proyectos.descripcion" name="descripcion">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Url</label>
                        <input type="text" class="form-control form-control border border-0 border-bottom rounded-0"
                            id="url" [(ngModel)]="proyectos.url" name="url">
                    </div>
                    <button type="submit" class="btn morado" data-bs-dismiss="modal">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>