/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.morado{
    background-color: #6727dd;
    color:white;
    font-weight: 100%;
    
}